# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\DevSpace\07-Bigdata\Hadoop-Installation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
